.modal {
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: white;
    padding: 2rem;
    width:calc(50%);
    height: auto;
    z-index: 10;
    position: absolute; 
    left: 25%;
    top: 25%;
}